# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db
# Dataset
dataset/